.categories {
  ul {
    display: flex;
  }

  li {
    font-weight: bold;
    font-size: 14px;
    color: #000;
    background: #f9f9f9;
    border-radius: 30px;
    padding: 14px 25px;
    margin-right: 20px;

    &:hover {
      cursor: pointer;
      background: darken(#f9f9f9, 2%);
    }

    &.active {
      color: #fff;
      background: #000;
    }

    &:last-child {
      margin-right: 0px;
    }
  }
}
