* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Proxima Nova", Roboto, system-ui, Tahoma, sans-serif;
  background: #ca8787;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 94%;
  margin: 0 auto;
}

.App {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
}
