.sort {
  display: flex;
  align-items: center;
  font-size: 14px;
  flex-wrap: wrap;
  position: relative;

  &__popup {
    position: absolute;
    right: 0px;
    top: 10px;
    margin-top: 15px;
    background: #ffffff;
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;

    li {
      padding: 12px 20px;

      &:hover {
        cursor: pointer;
        background: rgba(254, 95, 30, 0.05);
      }
      &.active {
        color: #d64a4a;
        background: rgba(254, 95, 30, 0.05);
      }
    }
  }

  svg {
    &.rotated {
      transform: rotate(-180deg);
    }
  }
  b {
    margin-left: 8px;
    font-weight: bold;
  }
  span {
    cursor: pointer;
    color: #d64a4a;
    margin-left: 8px;
    border-bottom: 1px dashed #fe5f1e;
  }
}

// //media

// @media(max-width:)
